<div>
  <img  src="../assets/images/helloworld.jpg" alt="Hello World Image"/>
  <div>
      <label for="name">Name:</label>
      <input 
        #name
        type="text" 
      />
  </div>
  <div>
    <a
      *ngIf="!message"
      href="#"
      (click)="$event.preventDefault(); sendName(name.value); name.value = '';"
    >
      Create
    </a>
    <a
      *ngIf="message"
      href="#"
      (click)="$event.preventDefault(); back();"
    >
      Back
    </a>
  </div>
  <div *ngIf="message" id="message-text"> {{message}} </div>
</div>