<h4>List Messages</h4>

<div id="menu-texts" *ngIf="selectedMessageId == null">
    <a routerLink="create">Create</a>
    <span>View</span>        
    <span>Update</span>
    <span>Delete</span>
</div>

<div id="menu-links" *ngIf="selectedMessageId != null">
    <a routerLink="create" id="create-link">Create</a>
    <a [routerLink]="['/view', selectedMessageId]" id="view-link">View</a>        
    <a href="#" id="update-link">Update</a>
    <a href="#" id="delete-link">Delete</a>
</div>
    
<div *ngIf="messages.length != 0">
    <div *ngFor="let message of messages">
        <input 
            type='radio' 
            name='messages' 
            id='{{message.id}}'
            [value]='message.id'
            [(ngModel)]='selectedMessageId'
        />
        <label for="{{message.id}}">{{message.text}}</label>
    </div>
</div> 

<div *ngIf="messages.length == 0">
    <p id="empty">There is no messages yet</p>
</div>