<h4>List Messages</h4>

<div id="menu-texts">
    <a href="/create">Create</a>
    <span>View</span>        
    <span>Update</span>
    <span>Delete</span>
</div>

<div id="menu-links" hidden>
    <a href="/create" id="create-link">Create</a>
    <a href="#" id="view-link">View</a>        
    <a href="#" id="update-link">Update</a>
    <a href="#" id="delete-link">Delete</a>
</div>

<div> 
    
        <div>
            <input type='radio' name='messages' id='value' value='value'/>
            <label for="value">Name</label>
        </div>                      
        <p id="empty">There is no messages yet</p>
    
</div>
